@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --corDosBotoes: #ec31ae;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #063b77;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: var(--corDosBotoes);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ededed;
}

.input-busca::placeholder {
  color: #999;
  font-style: italic;
}

.input-busca:hover {
  border-color: #ff69b4;
}

.input-busca:focus {
  border-color: #ff69b4;
  box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.15);
}
